@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

 /* shared styles */
 .display-flex{
    display: flex;
  }

  .text-gray{
    color: #424242;
  }
  .text-black{
    color: #252432;
  }
  .text-light-gray{
    color: #8987A1;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);

  }
  .text-primary{
    color: #ff900e;
  }


  /* header style */

.navbar{
    max-width:1140px;
    max-height: 71px ;
    justify-content: space-between;
  
    align-items: center;
    
    margin: 0 auto;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.mar-bot{
    list-style: none;
    margin-bottom: 30px;

}
.mar-right{
    margin-right: 24px;

}

    .nav-link{

        text-decoration: none;
        font-weight: 500;
        
    }


    .linkgula{
        justify-content: space-evenly;
       align-items: center;
       margin-right: 30px;
       
    }


/* 
second part intro */

.intro{
    max-width:1140px;
   
    margin: 120px auto;
   
   
    
}
.intro-written{

   padding-top: 162px;
   
    width: 50%;
    
}
.intro-title{
   
    font-size: 3rem;
    font-weight: 500;
}

.intro-img{
    padding-top: 106px;
    
    width: 50%;
}

/* 
our plant related style */

.ourplants{
    max-width:1140px;
   
    margin: 120px auto;

}

.ourplants-title{
    font-size: 3rem;
    font-weight: 500;
    
}
.ourplants-written{
    text-align: center;
}


.ourplants-cart{
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}
.cart-item-des{
    text-align: center;
}

.cart-item-image{
    width: 100%;
    
}

.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    width: 100%;

  }


/* main banner related styles */
.main-banner{
    max-width:1140px;
   
    margin: 120px auto;

}

.main-banner-title{
    font-size: 4rem;
    font-weight: 500;
}
.main-banner-des{
    /* width: 50%; */
    padding-top: 45px;

   
    padding-left: 60px ;
}

.main-banner-img{
    
   
    border-radius: 8px;
    
    
}
.main-banner-images{
    position: relative;
}
.trust-badge{
    width: 246px;
    height: 246px;
}
.inner-img{
    position: absolute;
    top: -110px;
    right: -110px;
    
}

/* latestdeal related style */

.latest-deal{
    max-width: 1140px;
    margin: 120px auto;
    text-align: center;
}
.deal-title{
    font-size: 3.5rem;
    font-weight: 500;
}

/* image container style */


  
    .img-container {
        display: flex;
        max-width: 1140px;
        margin: 120px auto;
        gap: 15px;
      }
      
      .left-imgs,
      .right-imgs {
        flex: -1;
      }
      
      .left-imgs {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      
      .img-box {
        position: relative;
        height: 100%;
       
    }
      
      .img-box img {
        border-radius: 8px;
        width: 100%;
        height: 100%;

        filter: brightness(50%);
      
      
      }
      
     
 
      .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        z-index: 2;
        
      }
      .text-sec{
        color: white;
      }

      .bg-box img{
        width: 100%;
        height: 550px;
        
      }

      .bg-box{
        position: relative;
      }

      .overlayed-text{
        width: 830px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        z-index: 3;

      }
      .overlayed-text h3{
       
        font-size: 3rem;
        font-weight: 500;
      }
  
    
    .hudai input {
        padding: 10px;
        /* border-radius: 5px; */
        border: none;
        width: 80%;
    }
    
    .btn-sec {
        padding: 10px 20px;
        background-color: #ff900e;
        color: white;
        border: none;
       
        cursor: pointer;
        width: 20%;
    }


    /* footer related style */


    .footer-container{
        max-width: 1120px;
        margin: 50px auto;
        justify-content: space-between;
    }
    .start-footer{
        width: 359px;
    }
    .start-footer p{
        font-size: 1.3rem;
        font-weight: 400;


    }

    .icon-size{
      width: 36px;
      height: 36px;
    }
    .icon-size-x{
      width: 32px;
      height: 32px;
    }

   
/* mobinle responsive */


@media screen and (max-width:576px){
  body{
    padding-left: 16px;
  }

 


  .nav-links{
   /* visibility: hidden; */
   display: none;

  }

  .intro{
   flex-direction: column-reverse;
   /* margin: 0 auto; */
   /* margin-left: auto; */
   margin: 50px auto;
   margin-bottom: 0px;
  }

  .intro-written{
    padding-top: 20px;
    width: 100%;
    text-align: center;
   
  }
  .intro-img{
    width: 100%;
  }
.ourplants{
  margin-top: 0px;
}
 
  .ourplants-cart{
   grid-template-columns: repeat(2,1fr);
  }

  .main-banner,.img-container, .footer-container{
   flex-direction: column;
  }
  .main-banner{
    margin-bottom: 0px;
  }
  .img-container{
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .latest-deal{
    margin-top: 0px;
    margin-bottom: 50px;

  }
  .main-banner-des{
    padding-left: 30px;
  }
  .deal-title{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .trust-badge{
   display: none;
  }
  .bg-box img{
   height: 350px;
   object-fit: cover;
  }
  .overlayed-text h3{
   font-size: 2rem;
  }
  .overlayed-text {
   padding: 0 15px; /* prevent text from hugging the edges */
   top: 45%;
   width: 100%;
 }
 .hudai{
   width: 90%;
   max-width: 400px;
   margin: 0 auto;
   
 }
.hudai input{
   width: 70%;
}
.btn-sec{
   width: 30%;
}
.first-links ul,.second-links ul{
   padding-left: 0px;
   
}

}







    


